*.out
*.inp
*.gbw
*.densities
*.tmp
*.xyz
__pycache__/
.ipynb_checkpoints/
*.pyc
notebooks/ethylene/
notebooks/oh_scan/
notebooks/test/
notebooks/scratch/
notebooks/ethylene/
notebooks/oh_scan/
notebooks/test/
notebooks/scratch/
notebooks/ethylene/
notebooks/oh_scan/
notebooks/test/
